@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 20px;
}

.name {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 24px;
  color: #e45d6e;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 1rem;
}

/* Formulário */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;
  z-index: auto;
}

.title {
  font-size: 1.3rem;
  margin: 10px 0 5px;
  color: #3f4a50;
}

.taskTitle {
  display: block;
  margin: 6px;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid transparent; /*borda base*/
  background:
    linear-gradient(#fff, #fff) padding-box,
    /* fundo branco */ linear-gradient(45deg, #203a4c, #f08080) border-box; /*gradiente na borda com DodgerBlue*/
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: inherit;
  text-align: center;
}

.taskDescription {
  display: block;
  margin: 6px;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid transparent; /*borda base*/
  background:
    linear-gradient(#fff, #fff) padding-box,
    /*fundo branco*/ linear-gradient(45deg, #203a4c, #f08080) border-box; /*gradiente na  com DodgerBlue*/
  box-sizing: border-box;
  resize: vertical;
  min-height: 5rem;
  font-size: 1.2rem;
  font-family: inherit;
  text-align: center;
}

.taskTitle,
.taskDescription {
  width: min(40rem, 90vw);
}

.taskTitle:focus,
.taskDescription:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(63, 74, 80, 0);
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, #203a4c, #fff1ee) border-box;
}

.btnAdd {
  display: block;
  margin: auto;
  padding: 10px 20px;
  border-radius: 1rem;
  color: #21324a;
  border: 2px solid transparent; /*borda base*/
  background:
    linear-gradient(#fff, #fff) padding-box,
    /*fundo branco*/ linear-gradient(45deg, #203a4c, #f08080) border-box; /*gradiente na  com DodgerBlue*/
  cursor: pointer;
  font-size: 1.3rem;
  font-family: inherit;
  transition: all 0.1s ease; /* transição suave */
}

.btnAdd:hover,
.btnAdd:focus {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, #fff1ee, #fff1ee) border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* sombra mais destacada */
}

.btnAdd:active {
  background: #e9f2ff; /* cor enquanto pressionado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* sombra mais baixa */
  transform: translateY(2px); /* efeito ao pressionar */
}

.tasks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, #203a4c, #f2c9b8) border-box;
  box-sizing: border-box;
  overflow: auto;
  z-index: auto; /*faz com que o z-index seja o mesmo do background*/
  background-color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: inherit;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* leve sombra */
}

.tasks:hover,
.tasks:focus {
  transform: translateY(-2px); /* eleva levemente o elemento */
  box-shadow:
    0 0 0 3px rgba(63, 74, 80, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none; /* remove contorno padrão do navegador */
}

.taskgroup {
  display: flex;
  flex-direction: row;
  /*gap: clamp(1rem, 4vw, 3rem);*/
  gap: 4rem;
  margin: 0.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  overflow: auto;
  z-index: auto; /*faz com que o z-index seja o mesmo do background*/
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* leve sombra */
}

::placeholder {
  color: #7f8891;
}

table {
  width: 100%; /* Ocupa toda a largura disponível */
  border-collapse: collapse; /* Remove espaçamento entre as células */
  border-radius: 1rem;
  overflow: hidden;
}

th,
td {
  border: 1px solid #e5e7eb; /* Borda ao redor das células */
  padding: 8px; /* Espaçamento interno */
  text-align: left; /* Alinhamento do texto */
}

th {
  background-color: #f8e8e8; /* Cor de fundo para cabeçalhos */
}

#tabela {
  width: min(40rem, 90vw);
}
